<!doctype html>

<html>

<head>
	<!-- Sets title for html page -->
	<title>GameRec</title>
	<!-- Linkes css and javascript -->
	<link rel="stylesheet" type="text/css" href="/static/css/vgr.css">
	<script src="/static/js/vgr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body class="page4">
	<!-- Sets the gaming background for the entire html page-->
	<div class="backgroundImage">
		<!-- Allows user input to search -->
		<form method="get">
			<!-- Main Navigation bar elements -->
		{% include 'navbar.html' %}
		 <div id="SubBar">
			<ul class='home'>
  				<li id='aboutUs' class="home"><a class="home" href="">About Us</a></li>
  				<li class="home"><a class="home" href="">FAQ</a></li>
			</ul>
		</div>
			<!-- Wikipedia API generate info -->
			<div id="information"> 
			</div>
		</form>
	</div>
	<script>
		$('#about').addClass("current_page");
		$('#aboutUs').addClass("current_page");
	</script>
</body>

</html>