<!doctype html>

<html>

<head>
	<!-- Sets title for html page -->
	<title>GameRec</title>
	<!-- Linkes css and javascript -->
	<link rel="stylesheet" type="text/css" href="/static/css/vgr.css">
	<script src="/static/js/vgr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body class=page2>
	<!-- Sets the gaming background for the entire html page-->
	<div class="backgroundImage">
			<!-- Navigation bar elements -->
			{% include 'navbar.html' %}
	</div>
	<script>
		$('#news').addClass("current_page");
	</script>
</body>

</html>