<!doctype html>

<html>

<head>
	<!-- Sets title for html page -->
	<title>GameRec</title>
	<!-- Linkes css and javascript -->
	<link rel="stylesheet" type="text/css" href="/static/css/vgr.css">
	<script src="/static/js/vgr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body class='home'>
	<!-- Contains dictionary with user data -->
	<div class="sign_In">
	{{user}}
	</div>
	<!-- Sets the gaming background for the entire html page-->
	<div class="backgroundImage">
		<!-- Allows user input to search -->

		<form method="get" action='/results'>
			<!-- Creates the GameRec title image -->
			<img id = "gamerec" src="../static/images/GameRec.png" alt="gameRec" height="130" width="150">
			<!-- Creates border around search box -->
				<div class="boxed">
				<!-- Creates search box and submit button -->
				<input id= "search" type="text" name= "query" >
				<input id= "submit" type="submit" name="submit"></input>
				</div>
			<!-- Navigation bar elements -->
			<ul>
				<li class='home'><a href="/">Home</a></li>
				<li><a href="page2">News</a></li>
				<li><a href="page3">Contact</a></li>
				<li><a href="page4">About</a></li>
			</ul>
			<!-- Wikipedia API generate info -->
			<div id="information"> 
			</div>
		</form>
	</div>
</body>

</html>