<!-- GET https://igdbcom-internet-game-database-v1.p.mashape.com/games/
https://igdbcom-internet-game-database-v1.p.mashape.com/games/?fields=name&limit=10&offset=0&order=release_dates.date%3Adesc&search=zelda",
X-Mashape-Key: "5XH95HRAqnmshOFldbKVy1WQBBRZp1qTQT6jsnexDxNpTGGbnc"
Accept": "application/json
 -->
<!doctype html>

<html>

<head>
	<!-- Sets title for html page -->
	<title>GameRec</title>
	<!-- Linkes css and javascript -->
	<link rel="stylesheet" type="text/css" href="/static/css/vgr.css">
	<script src="/static/js/vgr.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body class='home'>

	<!-- Sets the gaming background for the entire html page-->
	<div class="backgroundImage">
		<!-- Allows user input to search -->
		{% include 'navbar.html' %}
		<form method="get" action='/results'>
			<!-- Creates the GameRec title image -->
			<img id = "gamerec" src="../static/images/GameRec.png" alt="gameRec" height="130" width="150">
			<!-- Creates border around search box -->
				<div class="boxed">
				<!-- Creates search box and submit button -->
				<input id= "search" type="text" name= "query" >
				<input id= "submit" type="submit" name="submit"></input>
				</div>
			<!-- Navigation bar elements -->
			
		</form>
	</div>
	<script>
		$('#home').addClass("current_page");
	</script>
</body>

</html>