<!doctype html>
<html>

<head>
	<title>VGR</title>
	<link rel="stylesheet" type="text/css" href="vgr.css">
</head>
<body>
<div class="backgroundImage">
		<form method="get">
			<img id = "gamerec" src="../GameRec.png" alt="gameRec" height="130" width="150">
			<div class="boxed">
				<input id= "search" type="text" name= "query" >
				<input id= "submit" type="submit" name="submit"></input>
			<ul>
  				<li><a href="default.asp">Home</a></li>
  				<li><a href="news.asp">News</a></li>
  				<li><a href="contact.asp">Contact</a></li>
 				<li><a href="about.asp">About</a></li>
			</ul>
			</div>
			</div>
		</form>
</div>
</body>
</html>