#gamerec { 
 	position: absolute;
	left: 26%;
	top: 30%;
	width: 50%;
  }

 .backgroundColor { 
 	background-color: lightblue 
 }

/* body {
 	background-image: url("https://cdn-images-1.medium.com/max/1190/1*bD9nGMBuGWBdawdmrMmzVA.png")
}*/

#search { 
	position: absolute;
	left: 25%;
	top: 50%;
	width: 50%;
	text-align: center; 
	font-size: 15px;
	border: 8px solid #009999;
 }

 #submit { 
	position: absolute;
	left: 77%;
	top: 51%;
	width: 10px%;
	text-align: center; 
	font-size: 18px;
 }

 .sign_In{
 	color: white;
 }

ul.main{
    list-style-type: none;
    margin: 0;
    margin-right: 50;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-size: 50%
}

li.main {
    float: left;
}

a.main {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New';
}

/* Change the link color to red on hover */
a.main:hover,a.main:active {
    background-color: red;
}

ul.home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 6%;
    background-color: blue;
    left: 70%;
}

a.home {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
a.home:hover {
    background-color: red;
    color: black;
}



.current_page a { background-color: red 

}
