#gamerec { 
 	position: absolute;
	left: 26%;
	top: 30%;
	width: 50%;
  }

 .backgroundColor { 
 	background-color: lightblue 
 }

 body {
 	background-image: url("https://cdn-images-1.medium.com/max/1190/1*bD9nGMBuGWBdawdmrMmzVA.png")
}
#search { 
	position: absolute;
	left: 25%;
	top: 50%;
	width: 50%;
	text-align: center; 
	font-size: 15px;
	border: 8px solid #009999;
 }

 #submit { 
	position: absolute;
	left: 77%;
	top: 51%;
	width: 10px%;
	text-align: center; 
	font-size: 18px;
 }

 .sign_In{
 	color: white;
 }

ul {
    list-style-type: none;
    margin: 0;
    margin-right: 50;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-size: 50%
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to red on hover */
li a:hover {
    background-color: red;
}
}


#sub-header ul li:hover a,
body.home li.home a, {background-color: red}
body.contact li.contact { background-color: red;
}

#sub-header ul li:hover a,
body.home li.home a, { background-color: red 

}
body.page2 li.page2 a { color: #fff;
						background-color: red 
}
body.page3 li.page3 a { color: #fff;
						background-color: red 

}
body.page4 li.page4 a { color: #fff;
						background-color: red 

}
