#gamerec { 
 	position: absolute;
	left: 26%;
	top: 30%;
	width: 50%;
  }

 .backgroundColor { 
 	background-color: lightblue 
 }

 body {
 	background-image: url("https://cdn-images-1.medium.com/max/1190/1*bD9nGMBuGWBdawdmrMmzVA.png")
}

a {
	color: white;
}

#sign_in {
	float: right;
}

.nameColor {
	color: white;
}

.summaryColor {
	color: white;
	font-size: 20px;
}

.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
  background-color: darkgrey;
  opacity: 0.9;
}

.transbox {
  margin: 30px;
  margin-right: 20px;
  background-color: #575757;
  border: 1px solid black;
  opacity: 0.95;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}


#search { 
	position: absolute;
	left: 25%;
	top: 50%;
	width: 50%;
	text-align: center; 
	font-size: 15px;
	border: 8px solid #009999;
 }

 #searchResult {
 	position: absolute;
	left: 25%;
	top: 18%;
	width: 50%;
	text-align: center; 
	font-size: 15px;
	border: 4px solid #009999;
 }

 #submit { 
	position: absolute;
	left: 77%;
	top: 51%;
	width: 10px%;
	text-align: center; 
	font-size: 18px;
 }

 #submitResult {
 	position: absolute;
	left: 77%;
	top: 18.5%;
	width: 10px%;
	text-align: center; 
	font-size: 18px;
 }

 .sign_In{
 	color: white;
 }

ul.main{
    list-style-type: none;
    margin: 0;
    margin-right: 50;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-size: 50%
}


.content{
	margin: 5%;
	font-weight: bold;
	color: white;
	font-size: 18px;
}

li.main {
    float: left;
}

a.main{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New';
}

/* Change the link color to red on hover */
a.main:hover,a.main:active {
    background-color: red;
}


.current_page a { background-color: red 

}

.HayleyProfile{ 
	position: absolute;
	left: 35%;
	top: 18%;
	width: 60%;
	text-align: center; 
	font-size: 23px;
	border: 5px solid #009999;
	color: white;
 }

 .KleverProfile{ 
	position: absolute;
	left: 1%;
	top: 45%;
	width: 60%;
	text-align: center; 
	font-size: 23px;
	border: 5px solid #009999;
	color: white;
 }

  .KevinProfile{ 
	position: absolute;
	left: 35%;
	top: 70%;
	width: 60%;
	text-align: center; 
	font-size: 23px;
	border: 5px solid #009999;
	color: white ;
 }

 .kevin {
	position: absolute;
	left: 10%;
	top: 72%;
 	border: 5px solid #009999;
 }

 .klever {
	position: absolute;
	left: 74%;
	top: 45%;
 	border: 5px solid #009999;
 }

 .hayley {
	position: absolute;
	left: 10%;
	top: 18%;
 	border: 5px solid #009999;
 }

.contactInfo {
	position: absolute;
	left: 1%;
	top: 17%;
	width: 47%;
	text-align: center; 
	font-size: 50px;
	border: 5px solid #009999;

	color: white;


}